<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ICP5</title>
</head>
<body>
<header>
  <h1 style="margin-top: 78px;
    position: absolute;
    margin-left: 35%; color: white; font-size:50px;">ToDO List</h1>
</header>
<div class="container1">
  <form class="todoForm" (ngSubmit)="submitNewItem(todoContent)">
    <div class="search floatLeft">
      <input type="text" name="newtodo" [(ngModel)]="todoContent">
    </div>
    <div>
      <button type="submit" class="refresh">Enter the task</button>
    </div>

  </form>

  <form class="timeForm" (ngSubmit)="countDownTimer()">
    <div class="countDownTimer">
      <button type="submit" class="refresh marginLeft extra">Click here</button>

      <div class="timerBox">
        <p>{{days + 'd'}}</p>
      </div>
      <div class="timerBox">
        <p>{{hrs + 'h'}}</p>
      </div>
      <div class="timerBox">
        <p>{{mins + 'm'}}</p>
      </div>
      <div class="timerBox">
        <p>{{secs + 's'}}</p>
      </div>
    </div>
  </form>

  <div *ngIf="items.length > 0" class="allText">
    <table class="tablewidth">
      <div *ngFor="let item of items" class="tablediv">
        <td class="pwidth floatLeft">{{item.content}}</td>
        <td class="button-width"><button type="button" (click)="deleteItem(item.id)" class="refresh-del textB">Remove the task</button></td>
        <td class="button-width"><button type="button" (click)="completeItem(item.id)" *ngIf="item.status" class="refresh-com textB">Finished!</button></td>
        <td class="button-width"><button type="button" (click)="pendingItem(item.id)" *ngIf="!item.status" class="refresh-pen textB">To Do</button></td>
      </div>
    </table>

  </div>
</div>
</body>
</html>
