*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container1{
  margin-left : 10%;
  width : 80%;
  background-color: peachpuff;
  background-size: cover;
  height: 900px;
}
.extra
{
  margin-top: 58px;
  width: 100px;
}
.countDownTimer{
  margin-left: 16%;
  position: absolute;
  margin-top: 32px;
}
.marginLeft{
  margin-right: 21px;
}
.timerBox p{
  text-align: center;
}
.marginLeft2{
  margin-right: 31px;
}
.iconButtonS {
  width: 36px;
  height: 36px;
  background: #e5e2e0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.iconButtonD {
  width: 36px;
  height: 36px;
  background: #e5e2e0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.iconButtonP {
  width: 36px;
  height: 36px;
  background: #e5e2e0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.timerBox{
  width: 200px;
  background-color: aliceblue;
  color: black;
  font-size: 50px;
  font-weight: bold;
  height : 190px;
  float: left;
  border-radius: 15px;
  border: black;
  margin-right: 30px;
}
.refresh{
  background-color: lavender;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  margin-top: 3%;
}
.textP{
  margin-left: 38% !important;
}
.textB{
  margin-left: 6% !important;
}
.pwidth
{
  width : 300px;
  font-size: 31px;
}
.refresh-del{

  background-color: red;
  width: 130px;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
.refresh-com{

  margin-left: 13% !important;
  background-color: green;
  width: 130px;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
.refresh-pen{

  margin-left: 13% !important;
  background-color: orange;
  width: 130px;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
.tablediv{
  margin-left: 22%;
}
.tablewidth{
  width: 100%;
  margin-top: 20%;
}
.refresh:hover{
  cursor: grab;
}
.button-width{
  width: 40%;
}
.search {
  text-align: center;
  margin-right: 10%;
  margin-top: 45px;
}
.date{
  height: 30px;
  width: 250px;
}
.allText
{
  margin-left: 8%;
  color: black;
  margin-top: 5%;
}
header {
  text-align: center;
  border-bottom: 1px solid #e5e2e0;
  height: 255px;
  width: 80%;
  margin-left: 10%;
}
.search input{
  height : 40px;
  width: 400px;
}
.floatLeft{
  float : left;
}
body .container h1 {
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px;
}
body .container .todo-list .todo-list__head {
  position: relative;
}
body .container .todo-list .todo-list__head:before, body .container .todo-list .todo-list__head:after {
  content: "";
  display: table;
}
body .container .todo-list .todo-list__head:after {
  clear: both;
}
.todoForm{
  margin-left: 29%;
}
body .container .todo-list .todo-list__head .todo-list-head__text-input {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: italic;
  margin: 0 0 10px;
  border: 0;
  padding: 0 14px;
  outline: 0;
  color: #79BD9A;
  background: beige;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.5);
  -moz-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.5);
  box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.5);
}
body .container .todo-list .todo-list__head ::-webkit-input-placeholder {
  color: coral;
  opacity: 1;
}
body .container .todo-list .todo-list__head :-moz-placeholder {
  color: coral;
  opacity: 1;
}
body .container .todo-list .todo-list__head ::-moz-placeholder {
  color: coral;
  opacity: 1;
}
body .container .todo-list .todo-list__head :-ms-input-placeholder {
  color: coral;
  opacity: 1;
}
body .container .todo-list .todo-list__head .toto-list-head__submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  outline: 0;
}
body .container .todo-list .todo-list__items {
  margin: 0;
  padding: 0;
}
body .container .todo-list .todo-list__items li {
  position: relative;
  height: 35px;
  line-height: 40px;
  list-style: none;
  margin: 0 0 10px;
  padding: 0 20px 0 40px;
  color: #333;
  overflow: hidden;
  background: #f1f1f1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.5);
  -moz-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.5);
  box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.5);
}
body .container .todo-list .todo-list__items li.completed {
  color: #79BD9A;
  text-decoration: line-through;
}
body .container .todo-list .todo-list__items li.completed span {
  background: #79BD9A;
}
body .container .todo-list .todo-list__items li span {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  line-height: 24px;
  text-align: center;
  display: block;
  background: #453E50;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
body .container .todo-list .todo-list__items li .todo-list-item__trash {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: block;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: right 400ms ease-in-out;
  -moz-transition: right 400ms ease-in-out;
  -o-transition: right 400ms ease-in-out;
  transition: right 400ms ease-in-out;
}
body .container .todo-list .todo-list__items li .todo-list-item__complete {
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
  height: 40px;
  display: block;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: right 400ms ease-in-out;
  -moz-transition: right 400ms ease-in-out;
  -o-transition: right 400ms ease-in-out;
  transition: right 400ms ease-in-out;
}
body .container .todo-list .todo-list__items li:hover .todo-list-item__trash {
  right: 40px;
}
body .container .todo-list .todo-list__items li:hover .todo-list-item__complete {
  right: 0;
}
