.mainBody{
    background: url(https://tse1.mm.bing.net/th?id=OIP.kG-qYeWYIxXgRQF60ffn9AHaEK&pid=Api&P=0&w=281&h=159);
    background-size : cover;
    align-items: center;
    margin: auto;
}

h2{
    color: white;
    font-family: "Baskerville Old Face", serif;
    font-size: 30px;
}

.img{
    top: 30%;
    left: 30%;
    position: absolute;
}